<h1>Forum</h1>

<h3>Make a Forum Post With Resources</h3>

<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-form-field class="full-width">
    <mat-label>Title</mat-label>
    <input matInput placeholder="Title">
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Content</mat-label>
    <textarea id="content" type="text" formControlName="content" matInput placeholder="Write content here..."></textarea>
  </mat-form-field>
  <button mat-stroked-button class="button" type="submit">Submit</button>
</form>


<a mat-list-item routerLink="/viewforum">Back</a>
