<nav mat-tab-nav-bar [tabPanel]="tabPanel">
    <a mat-tab-link *ngFor="let link of links"
        [routerLink]="link.path"
        routerLinkActive #rla="routerLinkActive"
        [routerLinkActiveOptions]="{exact: false}"
        [active]="rla.isActive"
        >{{ link.label }}</a>
</nav>
<mat-tab-nav-panel #tabPanel>
    <router-outlet></router-outlet>
</mat-tab-nav-panel>
<div class="post-outline" *ngFor="let post of ___ | async">
<div class="forum-user-name"> {{ post.user.first_name}} {{ post.user.last_name}} {{ post.timestamp }}</div>
    <h1 class="post-body">{{ post.title }}</h1>
    <h2 class="post-body">{{ post.content }}</h2>
</div>