<nav mat-tab-nav-bar [tabPanel]="tabPanel">
    <a mat-tab-link *ngFor="let link of links"
        [routerLink]="link.path"
        routerLinkActive #rla="routerLinkActive"
        [routerLinkActiveOptions]="{exact: false}"
        [active]="rla.isActive"
        >{{ link.label }}</a>
</nav>
<mat-tab-nav-panel #tabPanel>
    <router-outlet></router-outlet>
</mat-tab-nav-panel>

<ul *ngIf="(post$| async)?.approved_by_admin; else loading">
    <li *ngFor="let post of post$ | async">
        <div> {{ post.user.first_name}} {{ post.user.last_name}} {{ post.timestamp }}</div>
        <h1>{{ post.title }}</h1>
        <h2>{{ post.content }}</h2>
    </li>
 </ul>

 <ng-template #loading>
    <p>Post is not approved by admin</p>
    <loading-component></loading-component>
  </ng-template>