<nav mat-tab-nav-bar [tabPanel]="tabPanel">
    <a mat-tab-link *ngFor="let link of links"
        [routerLink]="link.path"
        routerLinkActive #rla="routerLinkActive"
        [routerLinkActiveOptions]="{exact: false}"
        [active]="rla.isActive"
        >{{ link.label }}</a>
</nav>
<mat-tab-nav-panel #tabPanel>
    <router-outlet></router-outlet>
</mat-tab-nav-panel>

<div>

    <h1 class="approved-title">
        Admin-Approved Posts
    </h1>
</div>
<div *ngFor="let post of post$ | async">
    <div class="post-outline">
        <div *ngIf="post.approved_by_admin" class="approved-post">
            <div class="forum-user-name"> {{ post.user.first_name}} {{ post.user.last_name}} {{ post.timestamp }}</div>
            <h1 class="post-body">{{ post.title }}</h1>
            <h2 class="post-body">{{ post.content }}</h2>
        </div>
    </div>
</div>
