<body>
  <div class="forum-header">
    <h1 class ="title">Forum</h1>
    <a mat-list-item routerLink="/forum">New Post</a>
  </div>

  <div class="forum-posts">
      <div class="post-outline" *ngFor="let post of post$| async">
   
        <div class="forum-user-name"> {{ post.user.first_name}} {{ post.user.last_name}} {{ post.timestamp }}</div>
          <h1 class="post-body">{{ post.title }}</h1>
          <h2 class="post-body">{{ post.content }}</h2>
          
          <div></div>
          <div></div>
          <td *ngIf="adminPermission$ | async" > <button (click)="onDelete(post.id)">Delete</button> </td>
 
      </div>
  </div>
</body>
  
